body {
	font-family:"Lucida Sans Unicode";
  background-color:white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffad33;
  color:white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffad33;
  color:white;
}
.stopka-l {
  height: auto;
}

.stopka-r {
  height: auto;
}

.stopka-s {
  height: auto;
	max-width: 350px;
}

.item {
  width:auto;
  margin:10px;
  background-color: #ffad33;
}

.baner-l {
  height: auto;
}

.baner-r {
  height: auto;
}

.baner-s {
  height: auto;
}

input[type=text] {
  background-color:white;
  width:20%;
  height:25px;
	border-radius:4px;
	border-color: black;
}

input[type=search] {
  background-color:white;
  height:30px;
  width:300px;
	border-radius:4px;
	border-color: black;
}

input[type=password] {
  background-color:white;
  width:20%;
  height:25px;
	border-radius:4px;
	border-color: black;
}

input[type=submit] {
  background-color:#ff9933;
  height:40px;
	border-color: black;
	border-radius:3px;
	width:110px;
	font-weight: bold;
}

button {
  background-color:#ff9933;
  height:40px;
	border-color: black;
	border-radius:3px;
	width:110px;
	font-weight: bold;
}

h2 {
	font-weight: bold;
}
