body {
	font-family:"Lucida Sans Unicode";
  background-color:white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffad33;
  color:white;
}

.srodek {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.srodekpl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.prawy {
	height: auto;
}

.lewy {
	height: auto;
}

.item3 {
  width:500px;
  margin:20px;
  background-color: white;
	text-align:left;
}


.srodek-obiekt {
	height: auto;
}

.item2 {
  width:500px;
  margin:20px;
  background-color: white;
	text-align:center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffad33;
  color:white;
}

.stopka-l {
  height: auto;
}

.stopka-r {
  height: auto;
}

.stopka-s {
  height: auto;
	max-width: 700px;
}

.item {
  width:auto;
  margin:10px;
  background-color: #ffad33;
}

.baner-l {
  height: auto;
}

.baner-r {
  height: auto;
}

.baner-s {
  height: auto;
}

input[type=text] {
  background-color:white;
  width:60%;
  height:25px;
	border-radius:4px;
	border-color: black;
}

input[type=search] {
  background-color:white;
  height:30px;
  width:300px;
	border-radius:4px;
	border-color: black;
}

input[type=password] {
  background-color:white;
  width:60%;
  height:25px;
	border-radius:4px;
	border-color: black;
}

input[type=submit] {
  background-color:#ff9933;
  height:40px;
	border: 2px solid black;
	border-radius:3px;
	width:110px;
	font-weight: bold;
	cursor:pointer;
}

input[type=submit]:hover {
	background-color:#ff8000;
	border: 2px solid black;
}

button {
  background-color:#ff9933;
  height:40px;
	border: 2px solid black;
	border-radius:3px;
	width:110px;
	font-weight: bold;
	cursor:pointer;
}

button:hover {
	background-color:#ff8000;
	border: 2px solid black;
}

h2 {
	font-weight: bold;
}

.srodek {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.item4 {
  width:1000px;
  margin:20px;
  border:solid black;
	text-align:left;
	padding:20px;
}

.produkty {
	height: auto;
}
